<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor jakości powietrza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/site.css') }}" >
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.2.6/css/dx.light.css">
    <!-- DevExtreme libraries (reference only one of them) -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.2.6/js/dx.all.js"></script>
    <script>
        $(() => {
                const apiKey = $("body").attr('data-api-key');
                navigator.geolocation.getCurrentPosition(function(position) {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                const weatherUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}`;
                const airUrl = `http://api.openweathermap.org/data/2.5/air_pollution?lat=${lat}&lon=${lon}&appid=${apiKey}`
                $.ajax({
                    url: weatherUrl,
                    method: 'GET',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching weather data:', error);
                    }
                });

                $.ajax({
                    url: airUrl,
                    method: 'GET',
                    success: function(response) {
                        console.log(response);
                        $('#gauge').dxCircularGauge({
                            scale: {
                              startValue: 1,
                              endValue: 5,
                              tickInterval: 1,
                              label: {
                                useRangeColors: true,
                              },
                            },
                            rangeContainer: {
                              palette: 'pastel',
                              ranges: [
                                { startValue: 0, endValue: 1.5 },
                                { startValue: 1.5, endValue: 2.5 },
                                { startValue: 2.5, endValue: 3.5 },
                                { startValue: 3.5, endValue: 4.5 },
                                { startValue: 4.5, endValue: 5.5 },
                              ],
                            },
                            title: {
                              text: 'Index jakości powietrza',
                              font: { size: 28 },
                            },
                            value: response.list[0].main.aqi
                          });
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching weather data:', error);
                    }
                });
            });
        });
    </script>
    <style>
        #gauge {
          height: 440px;
          width: 100%;
        }
    </style>
</head>
<body class="dx-viewport" data-api-key="{{ openApiKey }}">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark">Dom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">O programie</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                            {% if user  %}
                                <span style="position: relative; top: 8px">{{ user['name'] }} {{ user['lastName'] }}</span>
                                <li class="nav-item">
                                    <a class="nav-link primary" href="{{ url_for('logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link primary" href="{{ url_for('login') }}">Login</a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <div id="gauge"></div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Monitor jakości powietrza
        </div>
    </footer>
    <script src="{{ url_for('static', filename='libs/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
